<% const localmeta = {
  title: 'ユーザー名 | ASB',
  desc: 'desc'
};
%>


<!--common-->
<%- include('../partials/header', {meta: localmeta}); %>
<!--/common-->

<div class="wrapper">

  <div class="header">
    <p>タイトル</p>
  </div>
  <div class="container">
    <div class="container">
      <h2></h2>
    </div>
  </div>

</div>




<!--bottomNav-->
<%- include('../partials/bottomNav'); %>
<!--/bottomNav-->

<!--common-->
<%- include('../partials/footer'); %>
<!--/common-->
