<!--js-->
<!--<script src="/js/swiper-bundle.min.js"></script>-->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/js/script.js"></script>

<!--/js-->

</body>

</html>
