<!--bottomNav-->
<%- include('../partials/bottomNav', {status: status}); %>
<!--/bottomNav-->

<!--js-->

<script src="/js/swiper.js"></script>
<script src="/js/script.js"></script>

<!--/js-->

</body>

</html>
