<% const localmeta = {
  title: 'ソーシャルブックマークサービス | ASB',
  desc: 'desc'
};
%>

<form action="testcode" method="post">

  <input name="name" type="text">
  <input name="email" type="text">
  <input name="password" type="text">

  <input type="submit">

</form>

<!--footer-->
<%- include('partials/footer'); %>
<!--/footer-->
