/**/

@media screen and (min-width:600px) {

  .top-wrapper,
  .wide {
    width: 600px;
    margin: 0 auto;
  }

  .wide {
    padding-bottom: 3rem;
  }

  .vh100 {
    height: 100vh;
  }

  /*
  .fixed-btn {
    left: 20%;
  }
*/

}

/**/
