/**/

@media screen and (min-width:876px) {

  body {
    background-color: #E9E9E9;
  }

  .wrapper,
  .bookmark-wrapper,
  .swiper-wrapper,
  .top-wrapper {
    width: 600px;
  }

  .wide-wrapper {
    display: flex;
    justify-content: center;
  }

  .wide-left {
    min-width: 260px;
    justify-content: flex-end;
    margin-right: 1rem;
  }

  .side-nav {
    min-width: 260px;
    position: fixed;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2.5rem;
    padding: 2rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .side-nav ul li {
    margin-bottom: 2rem;
  }

  .side-nav ul li:last-child {
    margin-bottom: 0;
  }

  .side-nav ul li i {
    margin-right: 1rem;
  }

  .wide-right {
    min-width: 600px;
    justify-content: flex-start;
  }

  .wide-none {
    display: none;
  }

  .side-nav {
    display: block;
  }

}

/**/
