<div class="timeline-container bg1 shadow">
  <h3 class="tc1 bg2">リンクタイトルリンクタイトル</h3>
  <p class="timeline-url">
    <a class="tc3" href="http://localhost:3000/timeline/show">http://localhost:3000/timeline</a>
  </p>
  <p class="timeline-tag">
    <a href="">#<span class="tc5">タグ</span></a>&nbsp;<a href="">#<span class="tc5">タグ</span></a>&nbsp;<a href="">#<span class="tc5">タグ</span></a>
  </p>
  <p class="timeline-memo">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quibusdam, commodi ipsam tempora, doloremque,
  </p>
  <p class="timeline-btn">
    <i class="fas fa-edit"></i>&emsp;<i class="fas fa-trash"></i>
  </p>
  <div class="timeline-footer flex-container">
    <p><a class="tc3" href="">ユーザーネーム</a></p>
    <p>
      <time datetime="2020-09-24T22:51">2020年9月24日&nbsp;22時51分</time></p>
  </div>

</div>
